*{
    font-family: 'Bebas Neue', cursive;
    margin: 0;
}

.logoMenu{
    height: 166px;
    width: 166px;
    z-index: 1;
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    margin-top: 6rem;
}

.cabezal{
    padding-left: 1rem;
    color: white;
    font-size: 25px;
}

header{
    background-color: #CD2020;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    justify-content: space-between;
}

.contenido{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.barra{
    font-size: 85px;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
}

.imagen{
    width: 600px;
    height: 570px;
    background-color: #CD2020;
    padding: 5px;
    margin-right: 2rem;
    margin-left: 2rem;
}

.contenido a{
    background-color: #CD2020;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 2rem;
    border-radius: 25%;
    font-size: 40px;
    padding: 1rem 100px 1rem 100px;
}

.contenedorImagen{
    margin-top: 2rem;
}

footer{
    background-color: #CD2020;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    justify-content: flex-end;
}